.input-group {
    margin: 1%;
    width: 98%;
}

table {
    margin: 1%;
    width: 98%;

}

body {
    scrollbar-width: none;
}

.d-flex {
    margin: .5%;
}

form {
    padding: .5%;
}

.search-bar {
    margin-top: 10px;
    width: 70%;
    border-radius: 12px;
    // -webkit-box-shadow: 31px 16px 29px -19px rgba(66, 68, 90, 1);
    // -moz-box-shadow: 31px 16px 29px -19px rgba(66, 68, 90, 1);
    // box-shadow: 31px 16px 29px -19px rgba(66, 68, 90, 1);
}